*{
    margin: 0px;
    padding: 0px;
}
.header{
  font-family: 'Roboto Mono', monospace; ;
    
}
.head-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 238, 241);
    width: 1390px;
    height: 600px;
    align-items: center;

   
    
  
    
} 

.chead{
    font-size: 70px;
    line-height: 80px;
    
}

.cparagraph{
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.btn{
    background-color: #E55473;
    border: none;
    color: white;
    padding: 20px 43px;
    border-radius: 5px;
    margin-top: 20px;



}

.image{
    margin-bottom: -100px;
    margin-right: 100px;


    
   
}
.header-image{
    height: 500px ;
    width: 400px;
    
    



}

/* this is Featured section */

.featured-container{
    margin-top: 70px;
    height: 100vh;
    
}

.featured{
    text-align: center;
}
   .fhead{
    margin-bottom: 10px;
    font-size: 40px;

   }
   .fdecription{
    font-size: 18px;
    
   }
   .fic{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 400px;


   }
   .fic1{
    height: 350px;
    width: 300px;
    background-color: #F2DEE7;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    margin-left: 20px;
    
   }
   .fic2{
    height: 350px;
    width: 300px;
    background-color:#D9EFF1;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    
   }
   .fic3{
    height: 350px;
    width: 300px;
    background-color:#E3EBDB;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    
    
   }
   .fic3image{
    position: relative;
    bottom: 40px;
    left: 30px;
  
   }
   .ficname{
    display: flex;
    margin-left: 90px;
    margin-top: 130px;
   }
   .ficnamep1{
    margin-left: 90px;
   }
   .ficnamep2{
    margin-left: 360px;
   }
   .ficnamep3{
    margin-left: 360px;
   }
