*{
    margin: 0px;
    padding: 0px;
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(241, 198, 208);
    width: 1390px;;



}
.menu{
    display: flex;
    
    
}

.logo{
    margin-left: 40px;

}
.menu-item{
    list-style-type: none;
    display: flex;
    align-items: center;
    

}
.menu-li{
    margin-left: 20px;
    margin-right: 20px;
}
.menu-li:hover{
    color: #E55473;
    
}


.header{
  font-family: 'Roboto Mono', monospace; ;
    
}
.head-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 238, 241);
    width: 1390px;
    height: 600px;
    align-items: center;

   
    
  
    
} 

.chead{
    font-size: 70px;
    line-height: 80px;
    
}

.cparagraph{
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.btn{
    background-color: #E55473;
    border: none;
    color: white;
    padding: 20px 43px;
    border-radius: 5px;
    margin-top: 20px;



}

.image{
    margin-bottom: -100px;
    margin-right: 100px;


    
   
}
.header-image{
    height: 500px ;
    width: 400px;
    
    



}

/* this is Featured section */

.featured-container{
    margin-top: 70px;
    height: 100vh;

    
}

.featured{
    height: 20px;
    text-align: center;
}
   .fhead{
    margin-bottom: 10px;
    font-size: 40px;

   }
   .fdecription{
    font-size: 18px;
    
   }
   .fic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    height: 400px;
    width: 1100px;
    background-color: white;
    margin-left: 150px;
    
    


   }
   .fic1{
    height: 250px;
    width: 190px;
    background-color: #F2DEE7;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    margin-left: 20px;
    
   }
   .fic2{
    height: 250px;
    width: 190px;
    background-color:#D9EFF1;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    
   }
   .fic3{
    height: 250px;
    width: 190px;
    background-color:#E3EBDB;
    padding: 80px;
    align-items: center;
    border-radius: 50% 50% 0px 0px ;
    padding-left: 20px;
    
    
   }
   .fic1image{
    position: relative;
    bottom: -65px;
    left: 10px;
   }
   .fic2image{
    position: relative;
    bottom: -85px;
    left: 30px;
   }
   .fic3image{
    position: relative;
    bottom: -45px;
    left: 30px;
  
   }
   .ficname{
    display: flex;
    margin-left: 90px;
    margin-top: 20px;
   }
   .ficnamep1{
    margin-left: 200px;
   }
   .ficnamep2{
    margin-left: 260px;
   }
   .ficnamep3{
    margin-left: 260px;
   }
   /* this icon section */
   .icon{
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width:1100px ;
    background-color: #F4F4F4;
    margin-left: 150px;

   }
   .iconi{
    margin-left: 70px;
   }
   /* another section */
.another-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEF6F8;
    height: 400px;
}
.ash{
    font-size: 35px;
    margin-bottom: 10px;
}
.off{
    color: #E55473;
}
    /*itstasec  */
    .instasec{
        height: 80px;
        background-color: white;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .insta{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .imagefour{
        margin-left: 180px;
        align-items: center;
        margin-bottom: 50px;
    }
    /* background image */
    .bgimage{
        background-image: url("../images/Rectangle\ 9.png");
        width: 1000px;
        height: 350px;
        background-size: cover;
        margin-top: 50px;
        margin:  auto;
    }
    .bgall{
        text-align: center;
        margin-top: 50px;
    }

    /* footer section */
    .footer-part{
        height: 250px;
        background-color:#111010;
        margin-top: 60px;
        color: white;
        text-align: center;
        
    }
    .bghead{
        font-size: 40px;
        margin-top: 30px;
        padding: 50px;
        margin-bottom: 10px;
    }
    .mail{
        padding: 10px 50px;
        margin-top: 30px;
    }
    .button{
        background-color: #E55473;
        color: white;
        border: none;
        padding: 10px;

    }
    .footerhead{
        font-size: 40px;
        padding: 30px;
    }



    .flower{
        color: #E55473;

    }
    .footerp{
        margin-top: 10px;
    }
