*{
    margin: 0px;
    padding: 0px;
}
.header{
  font-family: 'Roboto Mono', monospace; ;
    
}
.head-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 238, 241);
    width: 1500px;
    height: 600px;
    align-items: center;

   
    
  
    
} 

.chead{
    font-size: 70px;
    line-height: 80px;
    
}

.cparagraph{
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.btn{
    background-color: #E55473;
    border: none;
    color: white;
    padding: 20px 43px;
    border-radius: 5px;
    margin-top: 20px;



}

.image{
    margin-bottom: -100px;
    margin-right: 100px;


    
   
}
.header-image{
    height: 500px ;
    width: 400px;
    
    



}
   